{% extends 'base.jinja2' %}
{% block title %}Basic Insert Cookie, so far{% endblock title %}

{% block content %}
<div class="grid_16">
<h2 id="page-heading">Fortune Cooooooookies</h2>
</div>
<div class="grid_16">
<div class="box">
    <h2>Insert Cookies</h2>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>Quote Data</legend>
        <p>
            <label for="cookie_text">Cookie Lines (1 per line)</label>
            <textarea id="cookie_text" name="cookie_text"></textarea>
        </p>
        <p>
            <input type="submit">
        </p>
        </fieldset>
        </form>
    {% if lines %}
    <ol>
    {% for line in lines %}
        <li>{{ line }}</li>
    {% endfor %}
    </ol>
    {% endif %}
    </div>
</div>
{% endblock content %}