{% extends 'base.jinja2' %}
{% block title %}Las opciones de administración, aquí{% endblock title %}

{% block content %}
    <div class="grid_16">
        <h2 id="page-heading">Administración</h2>
    </div>

<div class="grid_13">
<div class="box">
    <h2>Aquí listo las opcoines de configuración</h2>
    <ul class="menu">
        <li><a href="/admin/fortune">Entradas de FortuneCookies</a></li>
        <li><a href="/admin/vacia">Opción 404</a></li>
    </ul>
</div>
</div>
<div class="grid_3">
<div class="box">
    <h2>Soy una caja vacía</h2>
</div>
</div>
{% endblock content %}
