{% extends 'base.jinja2' %}

{% block content %}
    <div class="grid_16">
    <p>Mmmh... la página "{{ url }}" no existe. Quizás existió alguna vez, pero ahora se fue al cielo de los URLs</p>
    <p>Vuelve a la página principal, e intenta orientarte mejor</p>
    <p>Y mira la foto de un gatito mientras tanto:</p>
        <img src="http://lorempixel.com/404/404/cats/">
    (Cortesía de <a href="http://www.lorempixel.com">Lorem Pixel</a>)
    </div>
{% endblock %}