<html>
<head>
{% block head %}
<title>{% block title %}Yivoff{% endblock title %}</title>

    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->



{% endblock head %}
</head>
<body>
{% block body %}
    <div class="container_16">
    {% block main_header %}
        <div class="grid_16">
        <h1 id="branding"><a href="/">{{ site_title }}</a></h1>
        </div>
    {% endblock main_header %}
    {% block main_nav %}
        <div class="grid_16">
        <ul class="nav main">
            <li><a href="/prueba1">Un link</a></li>
            <li><a href="/prueba1/nivel2/">Deeper Mysteries</a></li>
            <li class="secondary">Nothing to see <b>Here&trade;</b></li>
        </ul>
        </div>
    {% endblock main_nav %}
    {% block content %}
    {% endblock content %}

    {% block footer %}
        <div class="clear"></div>
        <div class="grid_16" id="site_info">
        <div class="box"><em>{{ cookie }}</em></div>
        </div>
        <div class="clear"></div>
    {% endblock footer %}
{% endblock body %}
    </div>
</body>
</html>