{% extends 'base.jinja2' %}
{% block title %}soy un template de prueba{% endblock title %}

{% block content %}
    <div class="grid_16">
    <h2 id="page-heading"> this is not a drill</h2>
    </div>
    <div class="grid_16">Proper content goes here.</div>
{% endblock content %}