{% extends 'base.jinja2' %}

{% block title %}deeper into the rabbit hole{% endblock title %}

{% block content %}
    <h2 id="page-heading" class="grid_16">Page found, so no kittens</h2>
    <div class="grid_16">Rabbit not found. Insert rabbit to continue
    </div>
{% endblock content %}