{% extends 'base.jinja2' %}

{% block title %}Don't mess with my Index, bro{% endblock title %}

{% block content %}

<div class="grid_16">
<h2 id="page-heading">
    I'm your main title, pimping up your intrawebs
</h2>
</div>

<pre class="grid_4 suffix_6 prefix_6">
haiku mistico
para probar appengine
olvida wordpress
</pre>
{% endblock content %}